@{
    Layout = "_StaticLayout";
    ViewData["Title"] = "About";
}

<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(/static/images/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">

            <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
                <h1 class="text-white font-weight-light text-uppercase font-weight-bold">About Us</h1>
            </div>
        </div>
    </div>
</div>

<!-- Our History -->

<div class="site-section">
    <div class="container">
        <div class="row mb-5">

            <div class="col-md-5 ml-auto mb-5 order-md-2" data-aos="fade">
                <img src="/static/images/img_1.jpg" alt="Image" class="img-fluid rounded">
            </div>
            <div class="col-md-6 order-md-1" data-aos="fade">
                <div class="text-left pb-1 border-primary mb-4">
                    <h2 class="text-primary">Our History</h2>
                </div>
                <p>The mission of our Company is to contribute with its activities for the development, enhancement of quality and professionalism in the processes for providing supplementary services to the Transport and logistic companies, and their clients.</p>
                <p>The main activity is focused on  provisioning of services for road transport  and delivering for both: UK companies and companies throughout the European market. Our Company Philosophy is to work with dedication and professionalism in the interest of our clients, meeting their requirements to the maximum extent. We implement the said philosophy by observing the following a basic princip - High quality attendance to clients and good service from our employees, guaranteed by permanent control. For our team Professionalism means that we provide to clients the best possible solutions and objective expert appraisals and that we effectively satisfy client’s needs by the services provided by us.</p>
                <p>The effect of our activities is evaluated by satisfied clients who become long-term partners of the Companies that we service. We have created a good working atmosphere, confidence and professionalism in our team and we would like to assure our clients that we will address their problems with exceptional responsibility. We have made that attitude our basic and only mission.</p>
            </div>

        </div>
    </div>
</div>

<!-- Our History end -->

<script>
    $(document).ready(function () {
        $('#btnAboutNavbar').addClass('active');
        $('#btnHomeNavbar').removeClass('active');
        $('#btnContactNavbar').removeClass('active');
    });
</script>