@model ApplicationCore.ServiceModels.Driver.DriverDetailsServiceModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding-top: 20px;">
    <h1 class="display-4">Welcome</h1>
    <p>This page to be removed after project completion</p>
</div>

<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-xs-1 col-sm-6 col-md-6 col-xl-4 col-xxl-4" id="register-form">
            <div class="shadow p-3 mb-5 bg-body rounded">
                <div class="col-6">
                    <a asp-action="Register" asp-controller="Identity" class="nav-link">Register</a>
                </div>
                <div class="col-6">
                    <a asp-action="Login" asp-controller="Identity" class="nav-link">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>