@{
    Layout = "_StaticLayout";
    ViewData["Title"] = "Privacy Policy";
}

<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(/static/images/hero_bg_1.jpg);"
     data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
                <h1 class="text-white font-weight-light text-uppercase font-weight-bold">Privacy Policy</h1>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col order-md-1" data-aos="fade">

                @* ==== What this policy covers ==== *@
                <h1>What this policy covers</h1>
                <p>
                    Your privacy matters to us. That`s why we strive to be transparent about how we collect, use, and
                    share information about you. This policy is intended to help you understand:
                </p>
                <ul>
                    <li><a href="#core-principles">Core principles of our privacy policy</a></li>
                    <li><a href="#sources">Sources we use to collect personal information</a></li>
                    <li><a href="#types-of-information">Types of information we collect</a></li>
                    <li><a href="#purposes">Our purposes for collecting and processing</a></li>
                    <li><a href="#sharing">How we share information we collect</a></li>
                    <li><a href="#storage">How we store information we collect</a></li>
                    <li><a href="#protection">How we protect information we collect</a></li>
                    <li><a href="#your-rights">Your rights</a></li>
                    <li><a href="#changes">Changes to the privacy policy</a></li>
                    <li><a href="#contact">Contact information</a></li>
                </ul>

                @* ==== Core principles of our privacy policy ==== *@
                <h1 id="core-principles">Core principles</h1>
                <p>We process your personal data lawfully in a transparent, fair, and accurate manner:</p>
                <ol>
                    <li>We explain what data we collect and how we process it (transparent)</li>
                    <li>The processing matches the description given in this Privacy Policy (fair)</li>
                    <li>The processing is for one of the purposes described below (lawful)</li>
                    <li>The data is accurate and kept up to date (accurate)</li>
                </ol>
                <p>
                    We collect your personal data for the purposes that we described in <a href="#purposes">
                        the dedicated
                        section
                    </a>.
                    Collection scope and time are limited by these purposes. Also:
                </p>
                <ul>
                    <li>We do not collect sensitive data or child data.</li>
                    <li>We never sell your personal information.</li>
                    <li>
                        We never give out your personal information unless you gave us specific permission to do that,
                        and then only for the very limited purposes outlined below.
                    </li>
                    <li>We assure the security and confidentiality of your personal data.</li>
                </ul>

                @* ==== Sources we use to collect personal information ==== *@
                <h1 id="sources">Sources we use to collect personal information</h1>
                <p>We collect personal information from:</p>
                <ol>
                    <li>Our Website</li>
                    <li>Email, text, and other electronic messages between you and us</li>
                </ol>

                @* ==== Types of information we collect ==== *@
                <h2 id="types-of-information">Types of information we collect</h2>
                <p>We collect the following information and use it only as described here:</p>
                <p>
                    <strong>Personal Information.</strong> This may include your name, email address, organization,
                    phone number, photo, CV, and other information that you provide by filling in forms on our Website.
                    Personal information does not include anonymized information that we collect using such services as
                    Google Analytics. Normally, anonymized information allows us to understand your browser type,
                    referring website, time of your visit, approximate location, and some other details. It does not
                    permit us to isolate your individual identity. However, we may match anonymized information with
                    your identifying personal information that you provided to us or we received via public sources and
                    other sources.
                </p>
                <p>
                    <strong>Sensitive and Child Information.</strong> Sensitive and Child Information. We do not collect
                    sensitive personal data and child data. “Sensitive personal data” for our purposes means information
                    needing special treatment, in some circumstances requiring you to give us your explicit consent.
                    Among those categories may be your identifying numbers, financial account data, race or ethnicity,
                    political views, philosophical, religious, or various comparable beliefs, belonging to a trade union
                    or professional or trade association, physical or mental health, biometric or genetic data, sex
                    life, or criminal record (including material regarding the suspicion of criminal acts) according to
                    the assorted personal data categories recognized by data privacy laws of Europe and elsewhere. The
                    term “child data” means information about a data subject less than 16 years old.
                </p>
                <p>
                    <strong>Third Party Account Data.</strong> Third Party Account Data. We do not warehouse passwords
                    you employ when accessing Third Party Services. When you permit us to connect with any Third Party
                    Service, for example, a social media account or another comparable one, you allow us to access and
                    store your email address(es), current location, profile photo, URL, and other information the Third
                    Party Service gives us access to. You also authorize us to use and disclose it in accordance with
                    their Privacy Policy. So, we recommend you check your privacy settings on these Third Party Services
                    to understand the information sent to us through these services and change those privacy setting if
                    needed. We transmit and sometimes store, such account data, only if we must, to get in touch with
                    you, and only as the policies and terms of the Third Party Services allow.
                </p>
                <p>
                    <strong>Communicating with Us.</strong> If you contact us via website forms, live chat, email, or
                    any other text messages, we may keep a record of that correspondence.
                </p>
                <p>
                    <strong>Public Comments on the Services.</strong> We may display a customer`s personal testimonials
                    about our services. With your consent, we may post on our Website your testimonial along with your
                    name. If you wish to update or delete your testimonial, you can reach us via the contacts available
                    in <a href="#contact">the respective section</a>.
                </p>
                <p>
                    <strong>Usage Information.</strong> This includes information, such as pages viewed, referral
                    source, your IP address, browser type, identifiers associated with your devices, dates of visits,
                    time spent on the Website, and other traffic data about your activity on our Website as well as any
                    device used. This data is considered anonymized and non-identifying.
                </p>
                <p>
                    <strong>Location Data.</strong> Your devices (depending on the settings) may share location. We may
                    use your location
                    information to connect you with the closest representative or to determine location-specific needs
                    of our clients to improve our services.d
                </p>
                <p>
                    <strong>Analytics Data.</strong> We gather analytics data as you use our Website to assist us in
                    improving our services and products. We employ Google Analytics as our analytics provider. To learn more about our
                    providers` privacy policies, use the links provided below:
                    <br /><a href="https://policies.google.com/privacy/partners">Google Privacy & Terms</a>
                </p>
                <p>
                    <strong>Cookies and Other Technologies.</strong> A cookie is just a little bit of data, frequently
                    with a singular identifier sent by a website to the browser on your device (computer, tablet, or
                    mobile phone), the cookie resides on your device`s hard drive. If permitted by your browser
                    preferences, any website can deposit a cookie on your browser. To maintain some privacy your browser
                    likely permits a website access only to cookies that the website has sent you, but not cookies you
                    received from other websites. Many websites send cookies whenever a user visits in order to track
                    online traffic flows.
                </p>
                <p>
                    When you view our Website, we may also store certain information on your computer in the form of a
                    cookie file. We use online identifiers, including cookie identifiers, internet protocol addresses,
                    device identifiers, client identifiers, email cookies, name cookies, time cookies, and other similar
                    technologies to measure the use of our Website and improve its content, to present you with
                    retargeting advertising on other sites based on your previous interaction, and to customize your
                    experience and provide greater convenience each time you interact with us.
                </p>
                <p>
                    If you wish to block or erase the use of cookies, refer to the relevant instructions in your web
                    browser. Please note that this will make some parts of this site inaccessible or some parts of the
                    site function poorly.
                </p>

                @* ==== Purposes of collecting and processing ==== *@
                <h2 id="purposes">Purposes of collecting and processing</h2>
                <p>
                    <strong>Service Provision and Testimonials.</strong> We use the information we collect to contact
                    you on service provision or on the provision of testimonials on our services. We process the
                    information our clients give us to provide our services under service agreements.
                </p>
                <p>
                    <strong>Service Provision and Testimonials.</strong> We use the information we collect to contact
                    you on service provision or on the provision of testimonials on our services. We process the
                    information our clients give us to provide our services under service agreements.
                </p>
                <p>
                    <strong>Analytics.</strong> We collect the information from our Website with third-party tools such
                    as Google Analytics to analyze the Website audience. By estimating our audience size and usage
                    patterns, we are able to customize our Website according to your interests and needs.
                </p>
                <p>
                    <strong>Recruiting.</strong> We collect personal data that you submit to the Website and use it to
                    process online job applications and others for recruiting-related purposes.
                </p>

                @* ==== Purposes of collecting and processing ==== *@
                <h2 id="sharing">Sharing</h2>
                <p>
                    <strong>Sharing of non-identifying information.</strong> We may collect, disclose, and share with
                    third parties anonymous and aggregated information that does not identify any individual without
                    restriction. This is needed to do service research, and improve our services. It is also required
                    for use in other commercial purposes.
                </p>
                <p>
                    <strong>Sharing of identifying information.</strong> We share the information with our subsidiaries, affiliates,
                    employees, subcontractors, and consultants to fulfil our commitments for billing and collection
                    purposes. They treat your personal data with the highest security being committed to following our
                    internal security policies. They also agree on the terms of dealing with personal data stated in the
                    Service Agreement, which they sign prior to getting access to any identifying information.
                    We share the information with certain trusted third parties to help us provide, improve, promote,
                    and protect the services. We might, for example, employ third parties to assist us in the provision
                    of customer support or data storage, or management of our ads on other sites. These third parties
                    may access, process, or store your information to perform tasks only for the purposes we’ve
                    authorized, and we require them to provide a high level of protection for your information.
                </p>
                <p>
                    <strong>Sharing of information for legal purposes.</strong> We share information to comply with any court order, law,
                    or legal process. This includes responding to any government or regulatory request.
                </p>
                <p>
                    <strong>Sharing of information for acquisition purposes.</strong> If we are involved in a reorganization, merger,
                    acquisition or sale of our assets, your information may be transferred as part of that deal.
                </p>
                <p>
                    <strong>Sharing of identifying information with third parties for their marketing purposes.</strong> We will share
                    your personal information with third parties when we have your consent to do so. We do not share
                    personal information about you with third parties for their marketing purposes without your
                    permission.
                </p>

                @* ==== How we store information we collect ==== *@
                <h2 id="storage">Storage</h2>
                <p>
                    We store collected information in a database hosted by SmarterASP.NET.
                    In our databases are stored data about individuals at our client and other companies,
                    people who already have a business relationship with us or people with whom we want to develop a relationship.
                    The personal data used for these purposes includes relevant business information such as: contact data, publicly available information, your responses to targeted emails,
                    website activity, and other business information added by Valkar professionals during personal interactions with you.
                    If you wish to be excluded from our databases, please <a asp-action="Contact" asp-controller="Home">contact us</a>.
                    SmarterASP.NET is a GDPR-compliant system that provides a high level of data security (see SmarterASP.NET <a href="https://www.smarterasp.net/tos">Security Practices, Policies & Infrastructure</a>).
                    To learn more about SmarterASP.NET’s data privacy, click to see their <a href="https://www.smarterasp.net/privacy">Privacy Policy</a>.
                </p>

                @* ==== How we protect information we collect ==== *@
                <h2 id="protection">Protection</h2>
                <p>
                    We keep your personal information secure. It’s only accessible to a limited number of persons who have special access rights to such systems.
                    They are committed to keeping the information confidential to comply with this Privacy Policy, our internal policies, public laws, and agreements.
                </p>
                <p>
                    We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information.
                </p>
                <p>
                    The servers on which personal information and other personal data is stored are kept in a controlled environment, particularly at servers of SmarterASP.NET.
                    To learn more about the Privacy Policy of SmarterASP.NET, see <a href="https://www.smarterasp.net/privacy">SmarterASP.NET Privacy Statement</a>.
                </p>
                <p>
                    For our Website, we use the SSL (HTTPS) data encryption standard.
                </p>

                @* ==== Your rights ==== *@
                <h2 id="your-rights">Your Rights</h2>
                <p>
                    <strong>The right to information.</strong> We provide you with information about parties that process your personal data, the scope of your personal data we process, the purpose and terms of processing, the place of storage, and the security measures we apply.
                </p>
                <p>
                    <strong>The right to access.</strong> If you <a asp-action="Contact" asp-controller="Home">contact us</a> and make a request, we will provide you with a copy of your personal data that we process.
                </p>
                <p>
                    <strong>The right to rectification.</strong> By contacting us, you may update or correct the personal data we process.
                </p>
                <p>
                    <strong>The right to be forgotten.</strong> By contacting us, you may ask us to delete your personal data from our database. Otherwise, we delete your personal data after the term of processing is expired or after processing is no longer necessary.
                </p>
                <p>
                    <strong>The right to restrict processing.</strong> By contacting us, you may restrict us from processing your data in the following cases:
                    <ol>
                        <li>Your personal data is not accurate, and after you contacted us we made no changes in the agreed terms</li>
                        <li>The processing is unlawful</li>
                        <li>The <a href="#purposes">purpose of processing</a> is fulfilled</li>
                        <li>You restrict it using your right to object</li>
                    </ol>
                </p>
                <p>
                    <strong>The right to notification.</strong> We notify you of specific activities with your personal data that we did not mention in this privacy policy. This may include receiving your consent to share it with other parties for their marketing purposes. We will also notify third parties that help us process your data if you decide to alter some details, remove, or restrict the use of it.
                </p>
                <p>
                    <strong>The right to data portability.</strong> By contacting us, you can request a copy of your personal data in a usable electronic format.
                </p>

                @* ==== Changes to the privacy policy ==== *@
                <h2 id="changes">Changes to the privacy policy</h2>
                <p>
                    We may modify this Privacy Policy from time to time, and will post the most current version on our site. 
                    If a modification meaningfully reduces your rights, we will notify you using the procedures described in this document. 
                    The date the Privacy Policy was last revised is identified below.
                </p>
                <p>Last updated on 19/12/2022</p>

            </div>
        </div>
    </div>
</div>