@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>only authenticated users can see this page</p>
<a asp-controller="Identity" asp-action="Logout" class="btn btn-primary">Logout</a>