<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Valkar</title>

    <meta name="theme-color" content="#ffffff">
    @* Must run before any other script: patch Permissions API to avoid "Illegal invocation" from AdSense/other scripts *@
    <script>
        (function () {
            if (typeof navigator === 'undefined' || !navigator.permissions || typeof navigator.permissions.query !== 'function') return;
            var perm = navigator.permissions;
            var originalQuery = perm.query;
            var boundQuery = function () { return originalQuery.apply(perm, arguments); };
            try {
                Object.defineProperty(perm, 'query', { get: function () { return boundQuery; }, configurable: true, enumerable: true });
            } catch (e) {
                try { perm.query = boundQuery; } catch (e2) {}
            }
            // Suppress same error from third-party iframes (AdSense/reCAPTCHA) which we cannot patch
            window.addEventListener('error', function (ev) {
                if (ev.message && ev.message.indexOf('Permissions') !== -1 && ev.message.indexOf('Illegal invocation') !== -1) {
                    ev.preventDefault();
                    ev.stopPropagation();
                    return true;
                }
            }, true);
        })();
    </script>
    <script src="~/js/config.js"></script>
    <script src="~/vendors/overlayscrollbars/OverlayScrollbars.min.js"></script>
    @* AdSense removed: its script throws "Illegal invocation" on Permissions API (pagead2.googlesyndication.com). Re-add when Google fixes it. *@
    @* <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9356643471085995" crossorigin="anonymous"></script> *@
    <link href="../../vendors/choices/choices.min.css" rel="stylesheet">
    <link href="../../vendors/flatpickr/flatpickr.min.css" rel="stylesheet">
    <link href="../../vendors/dropzone/dropzone.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="~/vendors/overlayscrollbars/OverlayScrollbars.min.css" rel="stylesheet">
    <link href="~/css/theme-rtl.min.css" rel="stylesheet" id="style-rtl">
    <link href="~/css/theme.min.css" rel="stylesheet" id="style-default">
    <link href="~/css/user-rtl.min.css" rel="stylesheet" id="user-style-rtl">
    <link href="~/css/user.min.css" rel="stylesheet" id="user-style-default">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N0XNJ508Q8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-N0XNJ508Q8');
    </script>
</head>
<body>
    <main class="main" id="top">
        @RenderBody()
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/vendors/popper/popper.min.js"></script>
    <script src="~/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="~/vendors/anchorjs/anchor.min.js"></script>
    <script src="~/vendors/is/is.min.js"></script>
    <script src="~/js/flatpickr.js"></script>
    <script src="~/vendors/dropzone/dropzone.min.js"></script>
    <script src="~/vendors/lottie/lottie.min.js"></script>
    <script src="~/vendors/validator/validator.min.js"></script>
    <script src="~/vendors/prism/prism.js"></script>
    <script src="~/vendors/fontawesome/all.min.js"></script>
    <script src="~/vendors/lodash/lodash.min.js"></script>
    @* polyfill.io removed: often unreachable (ERR_NAME_NOT_RESOLVED). window.scroll is supported in all modern browsers. *@
    <script src="~/vendors/list.js/list.min.js"></script>
    <script src="~/vendors/choices/choices.min.js"></script>
    <script src="~/js/theme.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
