.container {
    padding-left: 3%;
    padding-right: 3%;
}

.doc-title {
    text-align: center;
}

.week-start-date {
    position: relative;
    left: 50%;
}

.t-section {
    padding-bottom: 15%;
}

.employee,
.week-start-date,
.inline-1,
.inline-2,
.inline-3,
.employee-details,
.manager-details {
    display: inline;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
}

    .tg td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    .tg .tg-is12 {
        background-color: #efefef;
        border-color: inherit;
        font-size: 20px;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-a52w {
        background-color: #c0c0c0;
        border-color: inherit;
        font-family: Arial, Helvetica, sans-serif !important;
        ;
        font-size: 20px;
        text-align: center;
        vertical-align: top
    }

    .tg .tg-0pky {
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }

.hidden-td {
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

label {
    font-size: larger;
}

.manager-details {
    position: relative;
    left: 30%;
}
