@model ApplicationCore.ServiceModels.Identity.RegisterServiceModel

@{
    ViewData["Title"] = "Register";
}
<div class="bg-holder" style="background-image:url(../../img/map.svg);height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;"></div>

<div class="container" data-layout="container">
    <div class="row flex-center min-vh-100 py-6">
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
            <div class="card-header bg-circle-shape bg-shape text-center p-2"><a class="font-sans-serif fw-bolder fs-4 z-index-1 position-relative link-light light" style="pointer-events: none;">Valkar</a></div>
            <div class="card">
                <div class="card-body p-4 p-sm-5">
                    <div class="row flex-between-center mb-2">
                        <div class="col-auto">
                            <h5>Register</h5>
                        </div>
                    </div>
                    <form asp-controller="Identity" asp-action="Register" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="mb-3">
                            <label class="form-label" asp-for="UserName"></label>
                            <input class="form-control" asp-for="UserName" type="text" autocomplete="on" id="split-name" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" asp-for="Email"></label>
                            <input class="form-control" asp-for="Email" type="email" autocomplete="on" id="split-email" />
                        </div>
                        <div class="row gx-2">
                            <div class="mb-3 col-sm-6">
                                <label class="form-label" asp-for="Password"></label>
                                <input class="form-control" asp-for="Password" type="password" autocomplete="on" id="split-password" />
                            </div>
                            <div class="mb-3 col-sm-6">
                                <label class="form-label" asp-for="ConfirmPassword">Confirm Password</label>
                                <input class="form-control" asp-for="ConfirmPassword" type="password" autocomplete="on" id="split-confirm-password" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
