@model ApplicationCore.ServiceModels.Company.CompanyServiceModel

<div class="modal fade" id="delete-company-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Company</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete @Model.Name?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" asp-action="Delete" asp-controller="Companies" asp-route-id="@Model.Id">Delete</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
