@model ApplicationCore.ServiceModels.Identity.ChangePasswordServiceModel

<form asp-controller="Identity" asp-action="ChangePassword" method="post" autocomplete="off">
    <div class="mb-3">
        <label class="form-label" asp-for="OldPassword"></label>
        <input class="form-control" asp-for="OldPassword" type="password" />
        <span asp-validation-for="OldPassword" class="text-danger" style="font-size: smaller"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="NewPassword"></label>
        <input class="form-control" asp-for="NewPassword" type="password" />
        <span asp-validation-for="NewPassword" class="text-danger" style="font-size: smaller"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="ConfirmPassword"></label>
        <input class="form-control" asp-for="ConfirmPassword" type="password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger" style="font-size: smaller"></span>
    </div>
    <button class="btn btn-primary d-block w-100" type="submit">Update Password </button>
</form>
