@using Web.Extensions;
@using ApplicationCore.ServiceModels.Driver

@model ApplicationCore.ServiceModels.Driver.SettingsServiceModel

@{
    ViewData["Title"] = "Settings";
}

<div class="container" data-layout="container">
    <partial name="_NavbarPartial" />
    <div class="content" style="margin-top: 1%">
        @if (TempData["updatedDriverDetailsAlert"] is not null)
        {
            <div class="row g-0">
                <div class="col-lg-12">
                    <div class="alert alert-success border-2 d-flex align-items-center" role="alert">
                        <div class="bg-success me-3 icon-item"><span class="fas fa-check-circle text-white fs-3"></span></div>
                        <p class="mb-0 flex-1">@TempData["updatedDriverDetailsAlert"].ToString()</p>
                        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        }
        @if (TempData["changedPasswordAlert"] is not null)
        {
            <div class="row g-0">
                <div class="col-lg-12">
                    <div class="alert alert-success border-2 d-flex align-items-center" role="alert">
                        <div class="bg-success me-3 icon-item"><span class="fas fa-check-circle text-white fs-3"></span></div>
                        <p class="mb-0 flex-1">@TempData["changedPasswordAlert"].ToString()</p>
                        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        }
        <div class="row g-0">
            <!-- #region Profile settings -->
            <div class="col-lg-8 pe-lg-2">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="mb-0">Profile Settings</h5>
                    </div>
                    <div class="card-body bg-light">
                        <partial name="DriverPartials/_UpdateDriverDetailsForm" model="Model.DriverDetails" />
                    </div>
                </div>
            </div>
            <!-- #endregion -->
            <div class="col-lg-4 ps-lg-2">
                <!-- #region Account settings -->
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="mb-0">Change Password</h5>
                    </div>
                    <div class="card-body bg-light">
                        <partial name="DriverPartials/_ChangePasswordForm" model="Model.ChangePassword" />
                    </div>
                </div>
                <!-- #endregion -->
                <!-- #region Limited Company settings -->
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="mb-0">Limited Company Settings</h5>
                    </div>
                    <div class="card-body bg-light">
                        <partial name="DriverPartials/_UpdateLimitedCompanyForm" model="Model.LimitedCompany"/>
                    </div>
                </div>
                <!-- #endregion -->
            </div>
        </div>
    </div>
</div>
